 .container {
  background-color: #ffffff;
  list-style: none;
  margin-top: 2rem;
}

.container li {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin: 2rem 0;
}

@media (min-width: 600px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
  }

  .container li {
    width: 30%;
  }
}
