.container {
    padding: 2rem;
    margin: 0 auto;
    width: 80%;
}

.actionsBar {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.actionsBar .actions {
    margin-left: 2rem;
}

.tableContainer .table {
    font-size: 1.5rem;
    height: 100%;
}

.tableContainer {
    height: 70vh;
    margin: 2rem auto;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}